<div class="container">
  <div class="row">Game Control</div>
  <hr>
  <div class="row">
    <!-- Event listner from @output -> emits -->
    <app-game (gameTimerStarts)="timerEventListener($event)"></app-game>
    <!-- Event emitter into @Input -->
    <app-odd *ngFor="let oddTimerEvent of oddTimerLogs" [gameTimer]="oddTimerEvent"></app-odd>
    <!-- Event emitter into @Input -->
    <app-even *ngFor="let evenTimerEvent of evenTimerLogs" [gameTimer]="evenTimerEvent"></app-even>
  </div>
</div>
